extends layout

block content
  div(class='wrapper row3')
    div(class='hoc clear' )
      div(id='chartContainer' class='hec' style='height:400px')
  script.
    $( document ).ready(function() {
      - tpschart();
    });

            
      
